.projectContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20%;
}

.projectImage {
  width: 600px;
}

.projectImageContainer {
  width: 600px;
  height: 340px;
  background-size: cover;
  margin-top: 10%;
  background-color: var(--color4alt);
  background-blend-mode: color-burn;
  transition: all 0.5s ease-in-out;
}

.projectImageContainer:hover {
  background-blend-mode: normal;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.projectInfoContainer {
  width: 50%;
  text-align: center;
  position: relative;
}

.projectTitle {
  color: var(--color4);
  font-size: 3.5rem;
}

.infoContainer {
  position: absolute;
  top: 40%;
  left: -15%;
}

.descriptionContainer {
  background: var(--color2);
  border-radius: 2%;
  box-shadow: 15px 15px 10px var(--color1);
  color: white;
  padding: 5%;
  z-index: 2;
}

.evenSkillList {
  top: 115%;
  right: 0%;
  color: var(--color4);
  display: flex;
  justify-content: center;
  list-style: none;
  z-index: 5;
}

.skillList {
  top: 115%;
  right: 0%;
  color: var(--color4);
  display: flex;
  justify-content: center;
  list-style: none;
  z-index: 5;
}

.skillList li,
.evenSkillList li {
  padding: 4%;
}
