.projectSectionHeader {
  color: var(--color4);
  font-size: 4rem;
  margin-bottom: 10%;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.25s;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.25s 0.25s;
}
