#root {
  padding: 0;
  margin: 0;
  background-color: var(--color5);
  height: 100vh;
}

.mainAppContainer {
  height: 320%;
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
  background-attachment: fixed;
  /* overflow-y: scroll; */
  z-index: 3;
}

:root {
  --color1: #0b0c10;
  --color2: #1f2833;
  --color3: #c5c6c7;
  --color4: rgb(100, 252, 242);
  --color5: #1e2c25;
  --color4alt: rgba(100, 252, 242, 0.5);
}

@media (max-width: 1440px) {
  #root {
    background-color: black;
  }
  .myName,
  .textContainer h1,
  .projectSectionHeader {
    font-size: 3.5rem;
  }
  .projectTitle {
    font-size: 3rem;
  }
  .briefIntro {
    font-size: 2.5rem;
  }
  .introText,
  .aboutMeMainText,
  .skillsList,
  .descriptionContainer {
    font-size: 0.8rem;
  }
  .logoName {
    font-size: 1rem;
  }
  .descriptionContainer {
    width: 130%;
  }
  .rightEnd {
    left: -50%;
  }
  .skillList li,
  .evenSkillList li {
    font-size: 0.8rem;
  }
  .projectImageContainer {
    width: 500px;
    height: 295px;
  }
}
